{% extends 'adminlte/contacts.html' %}

{% block title %}
IoT City
{% endblock %}

{% block content_header %}

  <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contacts
            <small>All contacts</small>
        </h1>
        <ol class="breadcrumb">
      <li class="active"><a href="#"><i class="fa fa-users"></i> Contacts</a></li>
    </ol>
    </section>

{% endblock %}

{% block content %}
	<!-- Row -->
    <div class="row">

        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-user-circle"></i>

              <h3 class="box-title">Ana Cruz</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6">
                <p><i>Developer</i></p>
                <p>anapatriciacruz@ua.pt</p>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-user-circle"></i>

              <h3 class="box-title">Diogo Ferreira</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6">
                <p><i>Developer</i></p>
                <p>diogodanielsoaresferreira@ua.pt</p>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-user-circle"></i>

              <h3 class="box-title">Inês Cruz</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6">
                <p><i>Developer</i></p>
                <p>icruz@ua.pt</p>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-user-circle"></i>

              <h3 class="box-title">José Castanheira</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6">
                <p><i>Developer</i></p>
                <p>jp.castanheira@ua.pt</p>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-user-circle"></i>

              <h3 class="box-title">Luís Leira</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6">
                <p><i>Developer</i></p>
                <p>luisleira@ua.pt</p>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->

        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-user-circle"></i>

              <h3 class="box-title">Miguel Silva</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-6">
                <p><i>Developer</i></p>
                <p>maps@ua.pt</p>
              </div>
              <div class="col-md-6">
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
{% endblock %}

 {% block jspage %}
    <script>
      $('#contactslink').addClass('active');
    </script>
 {% endblock %}